<h2> Instance <%= @instance.name %> of <%= @instance.course.name %> </h2>

<%= flash[:notice] %> <br/>

Description:<br/>

<p><%= @instance.description %></p>

<h3> Exercise groups </h3>

<table>
<% @instance.exercisegroups.each do |eg| %>
  <tr>
	<td><%= eg.name %></td>
	<td><%= eg.room %></td>
	
    <td><%= eg.start_date.strftime("%H:%M") %> to <%= eg.end_date.strftime("%H:%M") %></td>
<% if eg.users.include? current_user %>
	<td>Registered into!</td>
<% else %>
    <td><%= button_to 'Register', register_path(eg.id) %></td>
<% end %>
<% if current_user.has_role?(:admin) %>
   <td><%= link_to 'Send mail', register_sendmail_path(eg.id) %></td>
<% end%>
   </tr>
<tr>
	<td style="vertical-align: top">Registered users</td>
	<td cellspan="3">
		<% eg.users.each do |user|%>
		<%= user.realname %><br/>
		<% end %>
	</td>
</tr>
<% end %>
</table>
<br />

<%= link_to 'Edit', edit_instance_path(@instance) %> |
<%= link_to 'Back', course_path(@instance.course) %>