<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Ilmo 2.0</title>

</head>
<body>
	<h1>Ilmo 2.0</h1> 
	
	<p>Logged in as <%= current_user.realname %> ( <%= link_to 'Profile', user_profile_path(current_user) %> | <%= link_to 'Logout', logout_path %>
	<% if (current_user.has_role? :admin) %> 
	| <%= link_to 'Admin', "/admin" %>
	<% end %>)</p>
<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

<h2> Newsfeed </h2>

<ul>
<% Newsfeed.latest.each do |entry| %>
<li><%= entry.text %></li>
<% end %>
</ul>

</body>
</html>
